body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f5f5f5;
}

h1, h2, h3 {
    color: #7b1d1d; /* Un color tinto refinado */
}

header {
    background-color: #3e2723; /* Un tono oscuro como la madera de las barricas de vino */
}

.btn-primary {
    background-color: #8b0000; /* Rojo profundo como un Malbec argentino */
    border-color: #8b0000;
}

.btn-primary:hover {
    background-color: #a52a2a;
    border-color: #a52a2a;
}

footer {
    background-color: #3e2723;
}

form label {
    color: #3e2723;
}

form input {
    border-radius: 0;
    border: 1px solid #8b0000;
}

form input:focus {
    border-color: #a52a2a;
    box-shadow: none;
}

.text-center p {
    color: #3e2723;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
