body {
    font-family: 'Arial', sans-serif;
    background-color: #f7efdd; /* Fondo color siena claro */
    color: #984f1e; /* Color de texto relacionado con la temática de vino */
}

header {
    background-color: #6d1400; /* Color marrón oscuro para darle un toque rústico */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F8F1E5; /* Color claro contrastante */
}

.navbar-nav .nav-link {
    color: #F8F1E5 !important;
    margin: 0 15px;
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: #D2B48C !important; /* Color siena claro al pasar el ratón */
}

.hero {
    padding: 60px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    color: #5B3923; /* Color vino oscuro */
}

main h2, main h4 {
    color: #5B3923;
}

footer {
    background-color: #8B4513;
    color: #F8F1E5;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

button {
    background-color: #8B4513;
    border: none;
    color: #F8F1E5;
}

button:hover {
    background-color: #A0522D;
}
