
header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul li a {
    font-size: 1.2rem;
}

.intro img {
    border-radius: 10px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    

}

.card:hover {
    transform: scale(1.05);
    
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.producto {
    border: 1px solid #cccccc;
    padding: 15px;
    margin: 15px;
    text-align: center;
    width: 180px;
    display: inline-block;
    border-radius: 45%;
    
}
.producto img {
    width: 100px;
    height: 100px;
}
button {
    background-color: #a72844;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10%;
}
button:hover {
    background-color: #218838;
    border-radius: 45%;
}
#carrito {
    margin-top: 20px;
    border-top: 15px solid #000;
    padding-top: 20px;
    text-align: center;
    font-size: large;
    
}
#total {
    font-weight: bold;
    font-size: x-large;
}
#checkout-btn {
    background-color: #ffa600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5%;
}
#checkout-btn:hover {
    background-color: #00b3a7;
    border-radius: 5%;
}
<